---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div class="w-full bg-white rounded-xl shadow-lg p-6 md:p-8">
            <header class="text-center mb-6">
                <h1 class="text-3xl md:text-4xl font-bold text-gray-800">About</h1>
                <p class="mt-2 text-md text-gray-600">A sample project to showcase using DuckDB WASM to load a parquet file in an Astro static site .</p>
            </header>
            <main>

            </main>
        </div>
    </div>
</Layout>
