---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Parquet Viewer</title>
	</head>
	<body>
	    <Header />
		<slot />
	</body>
</html>
