---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Parquet Viewer</title>
	</head>
	<body class="bg-white border-gray-200 dark:bg-gray-900">
	    <Header />
		<div class="container mx-auto py-6">
	        <slot />
		</div>
	</body>

	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>
